<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function () {
            var errorMessage = [[${errorMessage}]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });

    </script>

</th:block>

<div layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        const reservations = /*[[${reservationDTOS}]]*/ [];
        /*]]>*/
    </script>

    <style>
        .calendar {
            width: 1000px;
            margin: 50px auto;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .year-month {
            font-size: 35px;
        }

        .days {
            display: flex;
            margin: 25px 0 10px;
        }

        .day {
            width: calc(100% / 7);
            text-align: center;
        }

        .dates {
            display: flex;
            flex-flow: row wrap;
            height: 800px;
            border-top: 1px solid #333333;
            border-right: 1px solid #333333;
        }

        .date {
            width: calc(100% / 7);
            padding: 15px;
            text-align: right;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #333333;
        }

        .day:nth-child(7n + 1),
        .date:nth-child(7n + 1) {
            color: #D13E3E;
        }

        .day:nth-child(7n),
        .date:nth-child(7n) {
            color: #396EE2;
        }

        .other-month {
            opacity: 0;
        }

    </style>

    <div class="container">
        <div class="calendar">
            <div class="header">
                <div class="year-month"></div>
                <div style="width: 200px;">
                <select  id="monthSelector" class="form-select">
                    <option value="0">1월</option>
                    <option value="1">2월</option>
                    <option value="2">3월</option>
                    <option value="3">4월</option>
                    <option value="4">5월</option>
                    <option value="5">6월</option>
                    <option value="6">7월</option>
                    <option value="7">8월</option>
                    <option value="8">9월</option>
                    <option value="9">10월</option>
                    <option value="10">11월</option>
                    <option value="11">12월</option>
                </select>
                </div>
            </div>
            <div class="main">
                <div class="days">
                    <div class="day">일</div>
                    <div class="day">월</div>
                    <div class="day">화</div>
                    <div class="day">수</div>
                    <div class="day">목</div>
                    <div class="day">금</div>
                    <div class="day">토</div>
                </div>
                <div class="dates"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Date 객체 생성
        let date = new Date();

        // 예시로, 날짜별로 예약이 얼마나 찼는지 계산
        const reservationCountByDate = {};
        reservations.forEach(reservation => {
            const date = reservation.regDate;
            if (reservationCountByDate[date]) {
                reservationCountByDate[date] += reservation.member;
            } else {
                reservationCountByDate[date] = reservation.member;
            }
        });

        const renderCalendar = () => {
            const viewYear = date.getFullYear();
            const viewMonth = date.getMonth();

            // year-month 채우기
            document.querySelector('.year-month').textContent = `${viewYear}년 ${viewMonth + 1}월`;

            // 지난 달 마지막 Date, 이번 달 마지막 Date
            const prevLast = new Date(viewYear, viewMonth, 0);
            const thisLast = new Date(viewYear, viewMonth + 1, 0);

            const PLDate = prevLast.getDate();
            const PLDay = prevLast.getDay();

            const TLDate = thisLast.getDate();
            const TLDay = thisLast.getDay();

            // 오늘 날짜 그리기
            const today = new Date();
            if (viewMonth === today.getMonth() && viewYear === today.getFullYear()) {
                for (let date of document.querySelectorAll('.this')) {
                    if (+date.innerText === today.getDate()) {
                        date.classList.add('today');
                        break;
                    }
                }
            }

            // Dates 기본 배열들
            const prevDates = [];
            const thisDates = [...Array(TLDate + 1).keys()].slice(1);
            const nextDates = [];

            // prevDates 계산
            if (PLDay !== 6) {
                for (let i = 0; i < PLDay + 1; i++) {
                    prevDates.unshift(PLDate - i);
                }
            }

            // nextDates 계산
            for (let i = 1; i < 7 - TLDay; i++) {
                nextDates.push(i)
            }

            // Dates 합치기
            const dates = prevDates.concat(thisDates, nextDates);

            // Dates 정리
            dates.forEach((currentDate, i) => {
                const paddedMonth = String(viewMonth + 1).padStart(2, '0');
                const paddedDate = String(currentDate).padStart(2, '0');
                const fullDate = `${viewYear}-${paddedMonth}-${paddedDate}`;
                let memberCount = reservationCountByDate[fullDate] || 0;
                let extras = 16; // 예약 가능한 최대 인원
                let extraMembers = extras - memberCount;
                let isAvailable = (extras - memberCount > 0);
                let btnClass = isAvailable ? 'btn-primary' : 'btn-danger';
                let btnClass2 = isAvailable ? 'btn-success' : 'btn-warning';
                let btnText = isAvailable ? '예약하기' : '예약대기';

                let isThisMonth = i >= prevDates.length && i < (prevDates.length + thisDates.length);

                if (isThisMonth) {
                    dates[i] = `
                     <div class="date">
                          <div class="${isThisMonth ? 'this-month' : 'other-month'}">
                            ${currentDate}
                                <span class="rounded-pill ${btnClass}" style="padding: 3px;">
                                   남은인원 ${extraMembers}명
                                </span>
                                <div>
                                   <button type="button" class="btn ${btnClass2}"
                                   onclick="window.location.href='/reservation/register?regDate=${fullDate}'"
                                   style="margin-top: 2px;">
                                  ${btnText}
                                  </button>
                                </div>
                         </div>
                    </div>
                 `;
                } else {
                    // 이 부분을 현재 달이 아닐 때는 버튼을 비활성화하거나 다르게 표시하도록 설정
                    dates[i] = `
                         <div class="date">
                         </div>
                     `;
                }
            });

            console.log(reservationCountByDate);

            // Dates 그리기
            document.querySelector('.dates').innerHTML = dates.join('');
        }

        renderCalendar();

        document.addEventListener("DOMContentLoaded", function() {
            const today = new Date();
            const currentMonth = today.getMonth();
            const monthSelector = document.getElementById("monthSelector");

            // 현재 달과 이후의 두 달을 출력
            const options = [];
            for (let i = 0; i < 3; i++) {
                const monthIndex = (currentMonth + i) % 12;
                const monthNames = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];
                const monthName = monthNames[monthIndex];
                options.push(` <option value = "${monthIndex}">${monthName} </option>`);
            }

            monthSelector.innerHTML = options.join('');

            monthSelector.addEventListener("change", function () {
                const selectedMonth = parseInt(this.value);
                date.setMonth(selectedMonth);
                renderCalendar();
            });
        }
        )
        ;
    </script>


</div>

</html>