<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function () {
            var errorMessage = [[${errorMessage}]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });

    </script>

</th:block>

<div layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        const reservations = /*[[${reservationDTOS}]]*/ [];
        const reservationDates = /*[[${reservationDateDTOS}]]*/ [];
        /*]]>*/
    </script>

    <style>
        .calendar {
            max-width: 950px;
            margin: 50px auto;
        }

        @media (max-width: 995px) {
            .calendar {
                min-height: 820px;
            }
        }


        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .days {
            display: flex;
            margin: 25px 0 10px;
        }

        .day {
            width: calc(100% / 7);
            text-align: center;
        }

        .dates {
            display: flex;
            flex-flow: row wrap;
            min-height: 500px;
            border-top: 1px solid #b9bbbe;
            border-right: 1px solid #b9bbbe;
        }

        .dates2 {
            border-top: 1px solid #b9bbbe;
            border-right: 1px solid #b9bbbe;
        }

        .date {
            width: calc(100% / 7);
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #b9bbbe;
            border-left: 1px solid #b9bbbe;
        }

        .day:nth-child(7n + 1),
        .date:nth-child(7n + 1) {
            color: #D13E3E;
        }

        .day:nth-child(7n),
        .date:nth-child(7n) {
            color: #396EE2;
        }

        .override-color {
            color: black !important;
        }

    </style>
    <section class="about-area pat-50 pab-75">
        <div class="container">
            <div class="row justify-content-between">
                <div style="position:relative; max-width: 950px; height: 60px; margin: 50px auto; border: #1a1e21 2px solid; border-radius: 10px;">
                      <span style="position:absolute; left:10px; width: 200px; margin: 10px 0;">
                          <select id="monthSelector" class="form-select">
                                <option value="0">1월</option>
                                <option value="1">2월</option>
                                <option value="2">3월</option>
                                <option value="3">4월</option>
                                <option value="4">5월</option>
                                <option value="5">6월</option>
                                <option value="6">7월</option>
                                <option value="7">8월</option>
                                <option value="8">9월</option>
                                <option value="9">10월</option>
                                <option value="10">11월</option>
                                <option value="11">12월</option>
                          </select>
                      </span>
                    <span id="tab-buttons" style="position:absolute; right: 10px; width:90px; margin: 10px 0;">
                          <button class="btn btn-outline-dark" style="width: 40px; height: 40px;"
                                  onclick="changeTab('tab1')"><i
                                  class="las la-bars"></i></button>
                          <button class="btn btn-outline-dark" style="width: 40px; height: 40px;"
                                  onclick="changeTab('tab2')"><i
                                  class="las la-calendar"></i></button>
                    </span>
                </div>
                <div id="tab-contents">
                    <div id="tab1" class="tab">
                        <table class="table table-bordered" style="max-width: 950px; margin: 0 auto 50px auto;">
                            <thead>
                            <tr class="table-light">
                                <th colspan="4" style="text-align: center;"><span class="detailDate">${fullDate}</span>(<span
                                        class="detailDayOfWeek">${dayNames[dayOfWeek]}</span>)
                                </th>
                            </tr>
                            <tr class="table-light">
                                <th style="width:17%; text-align: center;">예약</th>
                                <th style="width:25%;text-align: center;">공지사항</th>
                                <th style="width:35%;text-align: center;">예약명단</th>
                                <th style="width:23%;text-align: center;">남은인원</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <button class="btn btn-primary detailBtnClass linkDate" data-full-date="${fullDate}"
                                            data-btn-class="${btnClass}"
                                            data-btn-text="${btnText}" data-btn-text2="${btnText2}"
                                            data-btn-class2="${btnClass2}"
                                            onclick='redirectToReservation(this)'
                                            style="width: 100%; height: 100%;">
                                    </button>
                                </td>
                                <td class="dataMessage">${message}</td>
                                <td>
                                    <div style="margin-bottom: 5px;">
                                        <span class="btn-light btn-sm">종류</span>&nbsp;
                                        <span class="dataFishingSort" style="margin-top: 2px; font-size: 14px">${finshingSort}</span>
                                    </div>
                                    <div class="dataRegInfo">${regInfo}</div>
                                </td>
                                <td class="detailExtraMembers">${extraMembers}명</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered border-dark"
                               style="max-width: 950px; margin: 0 auto 50px auto;">
                            <thead>
                            <tr class="table-light">
                                <th style="width:20%; text-align: center;">날짜</th>
                                <th style="width:22%; text-align: center;">예약</th>
                                <th style="width:35%; text-align: center;">예약명단</th>
                                <th style="width:23%; text-align: center;">남은인원</th>
                            </tr>
                            </thead>
                            <tbody class="dates2">
                            </tbody>
                        </table>

                    </div>
                    <div id="tab2" class="tab" style="display:none;">

                        <div class="calendar" style="margin-top: -25px;">
                            <div class="main">
                                <div class="days">
                                    <div class="day">일</div>
                                    <div class="day">월</div>
                                    <div class="day">화</div>
                                    <div class="day">수</div>
                                    <div class="day">목</div>
                                    <div class="day">금</div>
                                    <div class="day">토</div>
                                </div>
                                <div class="dates"></div>
                            </div>
                        </div>

                        <table class="table table-bordered" style="max-width: 950px; margin: 0 auto 50px auto;">
                            <thead>
                            <tr class="table-light">
                                <th colspan="4" style="text-align: center;"><span class="detailDate">${fullDate}</span>(<span
                                        class="detailDayOfWeek">${dayNames[dayOfWeek]}</span>)
                                </th>
                            </tr>
                            <tr class="table-light">
                                <th style="width:17%; text-align: center;">예약</th>
                                <th style="width:25%;text-align: center;">공지사항</th>
                                <th style="width:35%;text-align: center;">예약명단</th>
                                <th style="width:23%;text-align: center;">남은인원</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <button class="btn btn-primary detailBtnClass linkDate" data-full-date="${fullDate}"
                                            data-btn-class="${btnClass}"
                                            data-btn-text="${btnText}" data-btn-text2="${btnText2}"
                                            data-btn-class2="${btnClass2}"
                                            onclick='redirectToReservation(this)'
                                            style="width: 100%; height: 100%;">
                                    </button>
                                </td>
                                <td class="dataMessage">${message}</td>
                                <td>
                                    <div style="margin-bottom: 5px;">
                                        <span class="btn-light btn-sm">종류</span>&nbsp;
                                        <span class="dataFishingSort" style="margin-top: 2px; font-size: 14px">${finshingSort}</span>
                                    </div>
                                    <div class="dataRegInfo">${regInfo}</div>
                                </td>
                                <td class="detailExtraMembers">${extraMembers}명</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div th:if="${message}" th:text="${message}" id="flashMessage" style="display:none;"></div>
        <script th:src="@{/assets/js/calendarscript.js}"></script>
    </section>
</div>

</html>