<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <script type="text/javascript">
        function handleSession() {
            const currentTime = new Date().getTime();
            let storedTime = sessionStorage.getItem('accessPage_Time');
            if (!storedTime) {
                sessionStorage.setItem('accessPage_Time', currentTime.toString());
                sessionStorage.setItem('accessPage', window.location.href);
                return true;
            }

            const elapsedTime = currentTime - Number(storedTime);
            // 10분(600,000밀리초)가 지났는지 확인
            if (elapsedTime > 60000 * 10) {
                sessionStorage.removeItem('accessPage_Time');
                sessionStorage.removeItem('accessPage');
                sessionStorage.setItem('accessPage_Time', currentTime.toString());
                sessionStorage.setItem('accessPage', window.location.href);
                return true;
            } else {
                return false;
            }
        }

        if (localStorage.getItem('token')) { // 토큰이 있으면
            if (handleSession()) {
                window.location.href = "/";
            }
        }

        // 로그아웃 시 토큰을 제거
        function logout() {
            localStorage.removeItem('token');
            sessionStorage.removeItem("accessPage");
            sessionStorage.removeItem('accessPage_Time');
            window.location.href = "/member/logout";
        }

        // 로그인 당시의 페이지 위치를 저장
        function goToLoginPage() {
            if (sessionStorage.getItem('prevPage')) {
                sessionStorage.removeItem('prevPage');
                sessionStorage.setItem('prevPage', window.location.href);
            } else {
                sessionStorage.setItem('prevPage', window.location.href);
            }
            window.location.href = "/member/login";
        }
    </script>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/admin/reservationlist">관리페이지</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/">메인으로</a></li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li><a class="dropdown-item" onclick="logout()">로그아웃</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>