<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<!-- CSRF 토큰 관련 메타 태그 -->
<meta name="csrf-header-name" th:content="${_csrf.headerName}">
<meta name="csrf-token" th:content="${_csrf.token}">

<div layout:fragment="content">

    <div class="container mab-25">
        <div class="login-wrapper-flex">
            <div class="login-wrapper-contents login-padding">
                <form class="login-wrapper-form custom-form padding-top-20"
                      th:action="@{/member/join}" id="join" method="post" th:object="${memberFormDto}">
                    <p id="message" class="text-danger"></p>
                    <p class="text-danger" th:text="${errorMessage}" th:if="${errorMessage}"></p>
                    <div class="single-input mt-4">
                        <label class="label-title mb-3" th:for="email"> 이메일 </label>
                        <input th:if="${param.email}" type="email" class="form--control" th:value="${param.email}" th:readonly="${true}" name="email" />
                        <input th:unless="${param.email}" type="email" class="form--control" th:field="*{email}" placeholder="이메일을 입력해주세요" name="email" required />
                    </div>
                    <div class="single-input mt-4">
                        <label class="label-title mb-3" th:for="name">이름</label>
                        <input type="text" th:field="*{name}" class="form--control" placeholder="이름을 입력해주세요" required>
                    </div>
                    <div class="single-input mt-4">
                        <label class="label-title mb-3" th:for="nickName">닉네임</label>
                        <input type="text" th:field="*{nickName}" class="form--control" placeholder="닉네임을 입력해주세요" required>
                    </div>
                    <div class="single-input mt-4">
                        <label class="label-title mb-3" th:for="tel">전화번호</label>
                        <div style="display: flex;">
                            <input type="number" id="tel1" name="tel1" class="form--control" maxlength="3" required style="flex: 1;">-
                            <input type="number" id="tel2" name="tel2" class="form--control" maxlength="4" required style="flex: 1;">-
                            <input type="number" id="tel3" name="tel3" class="form--control" maxlength="4" required style="flex: 1;">
                            <script>
                                function enforceMaxLength(element, maxLength) {
                                    element.oninput = function () {
                                        if (this.value.length > maxLength) {
                                            this.value = this.value.slice(0,maxLength);
                                        }
                                    }
                                }

                                enforceMaxLength(document.getElementById('tel1'), 3);
                                enforceMaxLength(document.getElementById('tel2'), 4);
                                enforceMaxLength(document.getElementById('tel3'), 4);
                            </script>
                        </div>
                        전화번호를 바르게 입력하셔야 예약확인 및 알림전송이 가능합니다
                    </div>
                    <div class="input-flex-item">
                        <div class="single-input mt-4">
                            <label class="label-title mb-3" th:for="password"> 비밀번호 생성 </label>
                            <input class="form--control" type="password" placeholder="Type Password" th:field="*{password}" required>
                            <div class="icon toggle-password">
                                <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                                <span class="hide-icon"> <i class="las la-eye"></i> </span>
                            </div>
                        </div>
                        <div class="single-input mt-4">
                            <label class="label-title mb-3"> 비밀번호 확인 </label>
                            <input class="form--control" id="passwordConfirm" type="password" placeholder="Confirm Password" required>
                            <div class="icon toggle-password">
                                <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                                <span class="hide-icon"> <i class="las la-eye"></i> </span>
                            </div>
                        </div>
                    </div>
                    <p id="passwordError" class="text-danger"></p>
                    <div class="checkbox-inline mt-4">
                        <input class="check-input" type="checkbox" id="check15">
                        <label class="checkbox-label" for="check15">해그린피싱의 <a class="color-one" href="javascript:void(0)">이용약관</a>과
                            <a class="color-one" href="javascript:void(0)"> 개인정보 수집 및 이용</a>에 동의합니다. </label>
                        <p id="checkboxError" class="text-danger"></p>
                    </div>
                    <button class="submit-btn w-100 mt-4" type="submit">회원가입</button>
                    <span class="account color-light mt-3"> 이미 계정이 있으신가요? <a class="color-one" href="/member/login"> 로그인 </a> </span>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#join').on('submit', function (e) {
                let password = $('#password').val();
                let passwordConfirm = $('#passwordConfirm').val();

                if(password.length <= 5){
                    $('#passwordError').text('비밀번호는 6자리 이상으로 해주세요.');
                    e.preventDefault(); // 폼 제출을 중지합니다.
                }else if (password !== passwordConfirm) {
                    $('#passwordError').text('비밀번호가 일치하지 않습니다.');
                    e.preventDefault(); // 폼 제출을 중지합니다.
                    return;
                } else {
                    $('#passwordError').text('');
                }

                // 체크 확인
                let isChecked = $('#check15').is(':checked');
                if (!isChecked) {
                    $('#checkboxError').text('이용약관, 위치기반서비스, 개인정보 수집 및 이용에 동의해주세요.');
                    e.preventDefault(); // 폼 제출을 중지합니다.
                    return;
                } else {
                    $('#checkboxError').text('');
                }

                e.preventDefault();

                let headers = {}; // headers 변수를 정의합니다.
                headers[$('meta[name=csrf-header-name]').attr('content')] = $('meta[name=csrf-token]').attr('content');
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(), // 폼 데이터를 직렬화하여 전송합니다.
                    headers: headers,
                    success: function (response) {
                        if (response.success) {
                            alert(response.success);
                            window.location.href="/";
                        }
                    },
                    error: function (jqXHR) {
                        let response = JSON.parse(jqXHR.responseText);
                        $('#message').text(response.error);
                    }
                });
            });
        });
    </script>

</div>

</html>