<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="footer-area">
        <div class="copyright-area footer-padding copyright-bg-1">
            <div class="container">
                <div class="copyright-contents-flex">
                    <div class="copyright-contents-items">
                        <div class="copyright-contents-single">
                            <div class="copyright-contents-single-flex">
                                <div class="copyright-contents-single-icon">
                                    <i class="las la-phone"></i>
                                </div>
                                <div class="copyright-contents-single-details">
                                    <span class="copyright-contents-single-details-title"> 문의전화 </span>
                                    <a href="tel:01044212628" class="copyright-contents-single-details-link">
                                        010-4421-2628 </a>
                                </div>
                            </div>
                        </div>
                        <div class="copyright-contents-single">
                            <div class="copyright-contents-single-flex">
                                <div class="copyright-contents-single-icon">
                                   <img th:src="@{/assets/img/band.png}" alt="band">
                                </div>
                                <div class="copyright-contents-single-details">
                                    <span class="copyright-contents-single-details-title"> 밴드 </span>
                                    <a href="https://band.us/band/68756801" target="_blank"
                                       class="copyright-contents-single-details-link"> 해그린피싱 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-contents-logo" style="margin-top: 1.5%">
                        <h3 class="footer-contents-logo-title text-white" style="text-align:center;"><a href="/">
                            해그린피싱 </a>
                        </h3>
                        <p class="footer-contents-logo-para mt-3" style="text-align: center;"> 대표 김동수. 전화 010-4421-2628.<br/>
                            Copyright© 해그린피싱. All Rights Reserved. </p>
                        <div class="footer-widget widget">
                            <div class="footer-widget-nav mt-5" style="text-align: center;">
                                <ul>
                                <a href="javascript:void(0)" class="footer-widget-nav-list-link"> 이용약관 </a> &nbsp;&nbsp;
                                <a href="javascript:void(0)" class="footer-widget-nav-list-link">
                                    개인정보처리방침 </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="copyright-contents-main"> ©2023, All Rights Reserved by <a
                            href="/"> HAEGREEN </a> </span>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>