<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <script type="text/javascript">
        function handleSession() {
            const currentTime = new Date().getTime();
            let storedTime = sessionStorage.getItem('accessPage_Time');
            if (!storedTime) {
                sessionStorage.setItem('accessPage_Time', currentTime.toString());
                sessionStorage.setItem('accessPage', window.location.href);
                return true;
            }

            const elapsedTime = currentTime - Number(storedTime);
            // 10분(600,000밀리초)가 지났는지 확인
            if (elapsedTime > 60000 * 10) {
                sessionStorage.removeItem('accessPage_Time');
                sessionStorage.removeItem('accessPage');
                sessionStorage.setItem('accessPage_Time', currentTime.toString());
                sessionStorage.setItem('accessPage', window.location.href);
                return true;
            } else {
                return false;
            }
        }

        if (localStorage.getItem('token')) { // 토큰이 있으면
            if (handleSession()) {
                window.location.href = "/";
            }
        }

        // 로그아웃 시 토큰을 제거
        function logout() {
            localStorage.removeItem('token');
            sessionStorage.removeItem("accessPage");
            sessionStorage.removeItem('accessPage_Time');
            window.location.href = "/member/logout";
        }

        // 로그인 당시의 페이지 위치를 저장
        function goToLoginPage() {
            if (sessionStorage.getItem('prevPage')) {
                sessionStorage.removeItem('prevPage');
                sessionStorage.setItem('prevPage', window.location.href);
            } else {
                sessionStorage.setItem('prevPage', window.location.href);
            }
            window.location.href = "/member/login";
        }
    </script>

    <header class="header-style-01">
        <!-- Menu area Starts -->
        <nav class="navbar navbar-area navbar-border navbar-padding navbar-expand-lg">
            <div class="container custom-container-one nav-container">
                <div class="logo-wrapper" style="font-size: 21px;">
                    <a href="/" class="logo">
                        해그린피싱
                    </a>
                </div>
                <div class="responsive-mobile-menu d-lg-none">
                    <a href="javascript:void(0)" class="click-nav-right-icon">
                        <i class="lar la-user"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#hotel_booking_menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="hotel_booking_menu">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="/noticeboard/list">공지사항</a></li>
                        <li class="nav-item"><a href="/jowhangboard/list">조황현황</a></li>
                        <li class="nav-item"><a href="/reservation/list">예약하기/예약현황</a></li>
                        <li class="nav-item" sec:authorize="isAnonymous()"><a href="/reservation/check">예약확인</a></li>
                        <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/reservation/details">예약확인</a>
                        </li>
                        <li class="menu-item-has-children current-menu-item">
                            <a href="javascript:void(0)">기상정보</a>
                            <ul class="sub-menu">
                                <li><a href="https://www.weather.go.kr/w/ocean/forecast/daily-forecast.do"
                                       target="_blank">기상청</a></li>
                                <li><a href="https://www.khoa.go.kr/Main.do">국립해양조사원</a></li>
                                <li><a href="https://www.windy.com/?33.443,127.095,8">미국기상청</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--                <div class="search-click-icon btn btn-primary mar-30">-->
                <!--                    <i class="las la-search"></i>-->
                <!--                </div>-->
                <!--                <div class="search-show">-->
                <!--                    <div class="search-show-inner">-->
                <!--                        <form action="/search" method="get">-->
                <!--                            <div class="search-show-form">-->
                <!--                                <input autocomplete="off" class="form&#45;&#45;control" id="search_form_input" type="text"-->
                <!--                                       name="keyword" placeholder="검색어를 입력하세요">-->
                <!--                                <button type="submit"><i class="las la-search"></i></button>-->
                <!--                                <span class="suggestions-icon-close"> <i class="las la-times"></i> </span>-->
                <!--                            </div>-->
                <!--                        </form>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="navbar-right-content show-nav-content">
                    <div class="single-right-content">
                        <div class="navbar-right-flex">
                            <div class="navbar-right-btn">
                                <ul class="navbar-nav">
                                    <li class="nav-item" sec:authorize="isAnonymous()">
                                        <a class="nav-link" onclick="goToLoginPage()">로그인</a>
                                    </li>
                                    <li class="nav-item" sec:authorize="isAnonymous()">
                                        <a class="nav-link" href="/member/join">회원가입</a>
                                    </li>
                                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                        <a class="nav-link" href="/admin/reservationlist">관리자</a>
                                    </li>
                                    <li class="nav-item" sec:authorize="isAuthenticated()">
                                        <a class="nav-link" href="/member/memberinfo">회원정보</a>
                                    </li>
                                    <li class="nav-item" sec:authorize="isAuthenticated()">
                                        <a class="nav-link" onclick="logout()">로그아웃</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Menu area end -->
    </header>

</div>

</html>